.snowflakeContainer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation-name: rainDown;
  animation-duration: 2.4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  display: inline-block;
  margin: 30px;
  position: absolute;
}
.snowflake {
  height: 50px;
  width: 50px;
  transform: translate(-50px, -80px);
  user-select: none;
}
.everything {
  height: 100%;
  width: 100%;
  background: #212121;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ground {
  background-color: #e0f0ef;
  height: 8%;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border: none;
  padding: 0;
  margin: 0;
}

.credit {
  box-sizing: border-box;
  position: absolute;
  margin: 1%;
  width: 100%;
  font-size: 3vh;
  text-align: right;
  padding-right: 30px;
  font-family: 'Pacifico', Helvetica, sans-serif;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

@keyframes rainDown {
  0% {
    transform: translate(0, 0);
  }

  70% {
    opacity: 0.3;
    transform: translate(80px, 92vh);
  }
  100% {
    opacity: 0;
    transform: translate(80px, 95vh);
  }
}
